<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <mapping class="com.joelenpastva.Assignment5.models.Planet"/>
        <mapping class="com.joelenpastva.Assignment5.models.Starship"/>
        <mapping class="com.joelenpastva.Assignment5.models.Visit"/>
    </session-factory>

</hibernate-configuration>